html, body {
  font: 18px/27px Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  height: 100%;
  width: 100%;
  background: rgba(255,155,234,1);
  background: linear-gradient(45deg, rgba(255,155,234,1) 0%, rgba(32,124,229,1) 100%);
}

h1 {
  font-family: 'Federo', sans-serif;
  font-size: 5em /*60px/68px;*/;
  line-height: 1em;
  margin: 0;
}

@media only screen and (max-width: 480px) {
  h1 { font-size: 3em /*60px/68px;*/; } 
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center > div {
  width: 80%;
}

@media(min-width: 820px) {
  .columns {
    display: flex;
  }
  .column {
    width: 50%;
    margin-right: 20px;
  }
}

a, a:hover {
  color: #fff;
}

h1 {
  color: #fff;
}

i {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: center no-repeat;
  vertical-align: middle;
}
i.man {
  width: 42px;
  height: 42px;
  padding: 0;
}
i.man.green { background-color: #38b871; }
i.man.blue  { background-color: #3788be; }
i.man.orange{ background-color: #f06d01; }
i.man.brown { background-color: #88614a; }
i.man.purple{ background-color: #c40ccd; }
i.man.yellow{ background-color: #b6ae1a; }

label {
  display: inline-block;
  position: relative;
}
.taken::after {
  content: "*";
  color: red;
  position: absolute;
  right: 0;
  top: -4px;
  right: 3px;
}
.taken-info {
  display: none;
  color: #fff;
  font-size: 0.725em;
  font-style: italic;
}
.taken-info span{
  color: #f00;
}
input[type=radio] {
  padding: 0;
  margin: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
input[type=radio] + i,
input[type=radio]:disabled:hover + i {
  border: solid 1px transparent;
}
input[type=radio]:hover + i {
  border: solid 1px #fff;
}
input:checked + i {
  border-color: #fff;
  background-position: center;
}
input:disabled + i {
  opacity: 0.3;
}

input[type=text] {
  padding: .5em 1em;
  font-size: 1em;
  border: solid 1px #fff;
}

.button {
  background: rgb(127, 180, 240);
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  border: solid 1px transparent;
}
.button:hover {
  border: solid 1px #fff;
}
.button:active {
  border: solid 1px #fff;
  box-shadow: 0px 1px 1px #2e85e7 inset;
}